/* výška mapy */
#map { height: 100vh; }

/* popup */
.popup-content { max-width: 250px; } 
.popup-content {
  width: 90vw;              /* přizpůsobí se šířce mobilního displeje */
  max-width: 400px;         /* ale na PC nepřesáhne 400px */
  box-sizing: border-box;
}

.popup-content iframe {
  width: 100%;
  height: 50vw;             /* poměrná výška podle šířky displeje */
  max-height: 400px;        /* omezení pro desktop */
  border-radius: 8px;
}

.popup-content button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  background: #0b7;
  color: #fff;
  border: none;
  cursor: pointer;
}

.popup-content button.readmore {
  background: #155;
}

.arrow-icon {
  font-size: 20px;
  color: blue;
  font-weight: bold;
  transform-origin: center;
  z-index: 9999;
  text-shadow: 0 0 3px white;
}

.locate-button {
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s ease;
}

.locate-button:hover {
  transform: scale(1.1);
}

